<template>
  <tr>
    <td v-for="(col, index) in columns" :key="index">
      <slot :col="col.key" :value="row[col.key]" :row="row">
        {{ row[col.key] }}
      </slot>
    </td>
  </tr>
</template>

<script>
export default {
  name: "VRow",
  props: {
    row: {
      default: () => {}
    },
    columns: {
      default: () => []
    }
  }
};
</script>
