<template>
  <table width="100%">
    <thead>
      <tr>
        <th
          v-for="(head, index) in columns"
          :key="index"
          :sortable="head.sortable"
        >
          <a v-if="head.sortable" href="#" @click.prevent="sort(head)">{{
            head.label
          }}</a>
          <template v-else>{{ head.label }}</template>
        </th>
      </tr>
    </thead>
    <v-row v-for="row in rows" :row="row" :key="row.id" :columns="columns">
      <slot
        slot-scope="{ col, value }"
        :name="`col-${col}`"
        :value="value"
        :row="row"
      />
    </v-row>
  </table>
</template>
<script>
import VRow from "./Row";

export default {
  name: "VTable",
  components: { VRow },
  data: () => ({
    isSorted: {}
  }),
  props: {
    rows: {
      default: () => []
    },
    columns: {
      default: () => []
    }
  },
  methods: {
    sort(sort) {
      if (sort.key !== this.isSorted.key) {
        this.isSorted = sort;
      } else {
        this.isSorted.direction *= -1;
      }

      if (!this.isSorted.direction) {
        this.isSorted.direction = 1;
      }

      this.$emit(`sort-${this.isSorted.key}`, {
        key: this.isSorted.key,
        direction: this.isSorted.direction
      });
    }
  }
};
</script>

<style lang="scss">
table {
  border: 1px solid;
  td,
  th {
    margin: 0;
    padding: 8px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;

    &:last-child {
      border-right: none;
    }
  }
  tr:last-child {
    td {
      border-bottom: none;
    }
  }
}
</style>
