<template>
  <div>
    <label>
      Search
      <input type="text" @input="search($event.target.value)" />
    </label>

    <hr />

    <v-table
      :rows="shows"
      :columns="columns"
      @sort-name="sortDefault"
      @sort-rating="sortByRating"
      @sort-status="sortDefault"
      @sort-language="sortDefault"
    >
      <!--TODO: path for column `name`-->
      <template v-slot:col-name="{ row, value }">
        <a :href="row.url">{{ value }}</a>
      </template>

      <!--TODO: path for column `genres`-->
      <template v-slot:col-genres="{ value }">
        {{ value.length ? value.join(", ") : "-" }}
      </template>

      <!--TODO: path for column `rating`-->
      <template v-slot:col-rating="{ value }">
        {{ value.average || "-" }}
      </template>
    </v-table>
  </div>
</template>

<script>
import VTable from "./components/Table";

export default {
  name: "App",
  data: () => ({
    shows: [],
    columns: [
      { label: "Name", key: "name", sortable: true, direction: 1 },
      { label: "Language", key: "language", sortable: true },
      { label: "Genres", key: "genres" },
      { label: "Status", key: "status", sortable: true },
      { label: "Rating", key: "rating", sortable: true, direction: -1 }
    ]
  }),
  components: { VTable },
  beforeMount() {
    //TODO: change for loading default shows
    // this.getShows();
    this.search("girls");
  },
  methods: {
    search(q) {
      if (q.length)
        this.axios
          .get("http://api.tvmaze.com/search/shows", { params: { q } })
          .then(({ data }) => (this.shows = this.transformSearchToShow(data)));
      else this.getShows();
    },
    getShows() {
      this.axios
        .get("http://api.tvmaze.com/shows")
        .then(({ data }) => (this.shows = data));
    },
    transformSearchToShow(search) {
      return search.map(item => item.show);
    },
    sortDefault({ key, direction }) {
      this.shows.sort((a, b) => {
        if (a[key] > b[key]) {
          return direction;
        }
        if (b[key] > a[key]) {
          return -direction;
        }
        return 0;
      });
    },
    sortByRating({ key, direction }) {
      this.shows.sort((a, b) => {
        if (a[key].average > b[key].average) {
          return direction;
        }
        if (b[key].average > a[key].average) {
          return -direction;
        }
        return 0;
      });
    }
  }
};
</script>
